<h2>Edit your personal data</h2>

   <img id="avatar" src={{thisUser.imageURL}}>

     
<form action='/private/myprofile/edit/{{thisUser._id}}' method='POST'>


  <input type='text' name='username' value="{{thisUser.username}}">

  <label for='email'>Email</label>
  <input type='text' name='email' value="{{thisUser.email}}">

  <label for='password'>Password</label>
  <input type='text' name='password' value="New password">

   <label for='password'>Avatar</label>
  <input type='text' name='avatar' value="paste a URL">

  <a href="/private/myprofile"><button type='submit'>Submit</button></a>


</form>