<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav>
      <div id="ul-container">
        <ul>
          <a href="/recipes"><li> What's in your fridge? </li></a>
          <a href="/private/favorites"><li> Favorites </li></a>
          <a href="/private/favorites"><li> My recipes </li></a> 
        </ul>
      </div>
      <span>Username</span>
      <div id="nav-buttons">
        <a href="/private/myprofile"> <button name="myprofile">My profile</button></a> 
        <a href="/logout"><button type="submit" name="logout">Log out</button></a>
        
      </div>
</nav>
    {{{body}}}
</body>
</html>
















