
<div>
<h1>hey its me</h1>
     <img id="avatar" src="{{thisUser.imageURL}}"/>
     <p>{{thisUser.username}}</p>
     <p>{{thisUser.email}}</p>
</div>
<div id="profile-buttons">
     <a href="/private/myprofile/edit/{{thisUser._id}}"> <button name="edit">Edit</button></a> 
     <a href="/private/favorites"> <button name="favorites">My favorites</button></a> 
     <a href="/private/favorites"> <button name="myrecipes">My recipes</button></a> 
</div>
     <a href="/logout"><button type="submit" name="logout">Log out</button></a>