<h2>Take a look and click to display details</h2>
<ul>
{{#each allRecipes}}
<li>
{{this.name}}
<a href="/recipes/{{this._id}}"><img id="recipe-img" src="{{this.imageURL}}"></a>
<a href="/recipes/{{this._id}}"><button>Favs</button></a>
</li>
{{/each}}
</ul>

