<div class="search">
<form  action='/recipes' method='GET'>
  <input class="search-bar" type='text' name='search' placeholder= "Search by ingredients...">
 <button class="search-btn" type='submit'><img class="glass" src="/images/glass.png" alt=""></button>
</form>
 </div>


<div class="recipe-container">

{{#each found}}
<div class="recipe-box">

  <h3>{{this.name}}</h3>
<a href="/recipes/{{this._id}}">
<img class="recipe-img" src="{{this.imageURL}}">
</a>
<form action='/private/favorites/{{this._id}}/add' method='POST'>
<button  class="transparent-btn"  name="favs" ><img src="/images/fav.png"></button>
</form>

</div>
{{/each}}
</div>