<link rel="stylesheet" href="/stylesheets/style.css">
<h1 class="app">Cook-Eat</h1>
<form class= "form" action='/signup' method='POST'>
 <div class="user-box">
  <label class="label" for=''>Username</label>
  <input class="input"type='text' name='username' minlength="6">
   <label class="label" for=''>Email</label>
  <input class="input"type='email' name='email'>
  <label class="label" for=''>Password</label>
  <input class="input"type='password' name='password' minlength="6">
  <button class="submit-button" type='submit'>Sign up</button>
</form>
</div>
{{#if errorMessage}}
  <div class="error-message">
    {{ errorMessage }}
  </div>
{{/if}}